html {
    scroll-behavior: smooth;
  }
body::-webkit-scrollbar {
    width: 5px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: -999999;
    min-height: 100%;
}
.preload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #0D0D0D;
    transition: opacity 600ms ease-in-out, visibility 0s 600ms;
}

.show-preloader {
    visibility: visible;
    opacity: 1;
}

.circle {
    background-color: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-circles 0.7s infinite ease-in-out;
}

.preload .circle:nth-child(1) {
     animation-delay: -0.6s;
}

.preload .circle:nth-child(2) {
     animation-delay: -0.5s;
}

.preload .circle:nth-child(3) {
     animation-delay: -0.4s;
}

.preload .circle:nth-child(4) {
    animation-delay: -0.3s;
}

@keyframes bounce-circles {
    0%, 40%, 100% {
 		transform: translateY(-10px);
    } 20% {
 		transform: translateY(-20px);
    }
}
@media (min-width: 320px) {
    #top-button {
        display: none;
        opacity: 0;
        position: relative;
    }
    .scroll-button {
        display: none;
    }
    .center-block {
        width: 320px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        margin-bottom: 100px;
        margin-top: 40px;
        min-width: 100%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links {
        list-style: none;
    }
    header nav ul {
        padding: 0;
        margin-top: 20px;
        display: flex;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links li {
        font-size: 14px;
        margin: 4.9px;
    }
    .nav-links li a {
        color: rgb(92, 92, 92);
        text-decoration: none;
        font-weight: 500;
        transition: 0.5s;
    }
    .nav-links li a:active {
        color: white;
    }
    header a img {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-image {
        margin-bottom: 250px;
        display: block;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-text {
        font-weight: 700;
        font-size: 29px;
        line-height: 1.3;
    }
    .under-hero {
        margin-top: 85px;
        font-weight: 400;
        font-size: 15px;
    }
    .arrow-circle {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #aboutme {
        opacity: 0;
    }
    .about-me {
        max-width: 92%;
        margin-bottom: 255px;
        margin-left: auto;
        margin-right: auto;
    }
    .socials {
        display: flex;
    }
    .socials-buttons {
        margin: 20px 20px 40px 0px;
        width: 40px;
        height: 40px;
    }
    .image img {
        width: 300px;
        height: 300px;
    }
    .upper-semibold {
        color: #636363;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .semibold {
        font-size: 21px;
        font-weight: 600;
    }
    #services {
        opacity: 0;
    }
    .services {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .boxes {
        margin-top: 50px;
        overflow: hidden;
    }
    .box-info {
        background-color: #0F0F0F;
        border-radius: 5px;
        margin-top: 20px;
        width: 295px;
        height: 270px;
        padding-top: 50px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        background-image: url(/background-modals.svg);
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .text-services {
        margin-top: 20px;
        font-size: 16px;
    }
    .portfolio {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .project {
        margin-top: 100px;
    }
    .project-text {
        font-size: 14px;
        font-weight: 400;
        
    }
    .project-arrow {
        margin-top: 50px;
    }
    .project .project-image img {
        width: 294px;
        height: 428px;
    }
    .project .upper-semibold {
        font-size: 13px;
    }
    .project .href-mobile {
        background-color: rgba(19, 19, 19, 0.35);
        margin-top: 30px;
        border-radius: 5px;
        height: 50px;
        display: flex;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 50px rgba(48, 46, 46, 0.2);
        margin-bottom: 50px;
    }
    .project .left-text a {
        font-size: 15px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        transition: 0.5s;
    }
    .project .left-text a:active {
        background-color: white;
        color: #0D0D0D;
    }
    .project .project-arrow {
        display: none;
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .more-projects {
        position: absolute;
        text-decoration: none;
        color: rgb(92, 92, 92);
        right: 92px;
        font-weight: 500;
        top: 1620px;
        font-size: 16px;
        transition: 0.5s;
    }
    .portfolio .ul .li span a:active {
        color: white;
    }
    #portfolio-dot {
        opacity: 0;
    }
    #contact-dot {
        opacity: 0;
    }
    .contact {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .contact-button {
        background-color: #0D0D0D;
        margin-top: 30px;
        border-radius: 5px;
        width: 100%;
        color: white;
        height: 50px;
        border: 1px solid white;
        box-shadow: 0px 0px 50px rgba(48, 46, 46, 0.2);
    }
    .contact-hyperlink .contact-button {
        font-weight: 500;
        background-color:rgba(19, 19, 19, 0.35);
    }
    .contact-hyperlink {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-name {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .buttons-block {
        display: flex;
        justify-content: center;
        height: 150px;
    }
    .buttons-block a img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }
}
@media (min-width: 768px) {
    .center-block {
        width: 768px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-links {
        list-style: none;
    }
    header nav ul {
        width: 100%;
        margin: 0px;
        padding: 0;
    }
    .nav-links li a {
        font-size: 15px;
        margin: 10px;
        
    }
    header a img {
        width: 150px;
        height: 50px;
        display: block;
        margin-right: 150px;
    }
    .hyperlink {
        color: rgb(92, 92, 92);
        text-decoration: none;
        font-weight: 500;
    }
    .hero-image {
        margin-bottom: 250px;
        display: block;
    }
    .hero-text {
        font-weight: 700;
        font-size: 39px;
        line-height: 1.5;
    }
    .under-hero {
        margin-top: 85px;
        font-weight: 400;
        font-size: 15px;
    }
    .arrow-circle {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #aboutme {
        opacity: 0;
    }
    .about-me {
        max-width: 92%;
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .left-side {
        margin-right: auto;
    }
    .socials {
        display: flex;
    }
    .socials-buttons {
        margin: 20px 20px 0px 0px;
        width: 40px;
        height: 40px;
    }
    .image img {
        width: 320px;
        height: 100%;
    }
    .upper-semibold {
        color: #636363;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .semibold {
        font-size: 21px;
        font-weight: 600;
    }
    #services {
        opacity: 0;
    }
    .services {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .boxes {
        margin-top: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .box-info {
        background-color: #0F0F0F;
        border-radius: 5px;
        margin-top: 20px;
        width: 225px;
        height: 250px;
        padding-top: 40px;
        position: relative;
        background-image: url(/background-modals.svg);
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .text-services {
        margin-top: 20px;
        font-size: 12px;
    }
    .portfolio {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .project {
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .project-text {
        font-size: 17px;
        font-weight: 400;
        
    }
    .project-arrow {
        margin-top: 50px;
    }
    .project .project-image img {
        width: 294px;
        height: 450px;
    }
    .left-text {
        margin-right: auto;
    }
    .project .upper-semibold {
        font-size: 13px;
    }
    
    .project .project-arrow {
        display:block;
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .project .href-mobile {
        background-color: rgba(19, 19, 19, 0.35);
        margin-top: 60px;
        border-radius: 5px;
        height: 50px;
        width: 200px;
        display: flex;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 50px rgba(48, 46, 46, 0.2);
        margin-bottom: 50px;
    }
    .project .href-mobile a {
        font-size: 15px;
        text-decoration: none;
        color: #ffffff;
    }
    .more-projects {
        position: absolute;
        text-decoration: none;
        color: rgb(92, 92, 92);
        right: 0px;
        font-weight: 500;
        top: 0px;
        font-size: 16px;
    }
    #portfolio-dot {
        opacity: 0;
    }
    #contact-dot {
        opacity: 0;
    }
    .contact {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .contact-button {
        background-color: #0D0D0D;
        border-radius: 5px;
        width: 300px;
        margin-bottom: 20px;
        color: white;
        height: 50px;
        border: 1px solid white;
        box-shadow: 0px 0px 50px rgba(48, 46, 46, 0.2);
        transition: 0.5s;
    }
    .contact-button:active {
        background-color: white;
        color: #0D0D0D;
    }
    .contact-hyperlink {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-name {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .buttons-block {
        display: flex;
        justify-content: center;
        height: 150px;
    }
    .buttons-block a img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }
}
@media (min-width: 1200px) {
    #top-button {
        display: block;
        opacity: 0;
        position: relative;
    }
    .scroll-button {
        display: block;
        position: fixed;
        bottom: 40px;
        padding: 15px;
        border-radius: 100%;
        background-color: white;
        z-index: 999999;
        right: 40px;
        transition: 0.5s;
    }
    .scroll-button:hover {
        background: #CACACA;
    } 
    .center-block {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        margin-bottom: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-links {
        list-style: none;
    }
    header nav ul {
        width: 100%;
        margin: 0px;
        padding: 0;
    }
    .nav-links li a {
        font-size: 17px;
        margin: 10px;
    }
    .nav-links li a:hover {
        color: white;
    }
    header a img {
        width: 150px;
        height: 50px;
        display: block;
        margin-right: 510px;
    }
    .hyperlink {
        color: rgb(92, 92, 92);
        text-decoration: none;
        font-weight: 500;
    }
    .hero-image {
        margin-bottom: 300px;
        display: block;
    }
    .hero-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.5;
    }
    .under-hero {
        margin-top: 85px;
        font-weight: 400;
        font-size: 17px;
    }
    .arrow-circle {
        margin-top: 30px;
    }
    #aboutme {
        opacity: 0;
        position: relative;
        bottom: 150px;
    }
    .about-me {
        max-width: 92%;
        margin-bottom: 350px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .left-side {
        margin-right: auto;
    }
    .socials {
        display: flex;
    }
    .socials-buttons {
        margin: 20px 20px 0px 0px;
        width: 40px;
        height: 40px;
        transition: 0.5s;
        border-radius: 20px;
    }
    .dribble:hover {
        background: #EA4C89;
    }
    .behance:hover {
        background: #053EFF;
    }
    .linkedin:hover {
        background: #0E76A8;
    }
    .image img {
        width: 380px;
        height: 374px;
    }
    .upper-semibold {
        color: #636363;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .semibold {
        font-size: 27px;
        font-weight: 600;
    }
    #services {
        opacity: 0;
        position: relative;
        margin-bottom: 120px;
    }
    .services {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .boxes {
        margin-top: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .box-info {
        background-color: #0F0F0F;
        border-radius: 5px;
        margin-top: 20px;
        width: 360px;
        height: 360px;
        padding-top: 80px;
        position: relative;
        background-image: url(/background-modals.svg);
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .box-info:hover {
        transform: scale(1.03);
    }
    .text-services {
        margin-top: 30px;
        font-size: 17px;
    }
    .portfolio {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .project {
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .project-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
    }
    .project-arrow {
        margin-top: 50px;
    }
    .project .project-image img {
        width: 320px;
        height: 480px;
    }
    .left-text {
        margin-right: auto;
    }
    .project .upper-semibold {
        font-size: 16px;
    }
    
    .project .project-arrow {
        display:block;
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .project .href-mobile {
        background-color: rgba(19, 19, 19, 0.35);
        margin-top: 70px;
        border-radius: 5px;
        height: 60px;
        width: 410px;
        display: flex;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 50px rgba(48, 46, 46, 0.2);
        margin-bottom: 50px;
    }
    .project .href-mobile:hover {
        background-color: white;
        color: #0D0D0D;
    }
    .more-projects {
        position: absolute;
        text-decoration: none;
        color: rgb(92, 92, 92);
        right: 0px;
        font-weight: 500;
        top: 0px;
        font-size: 16px;
    }
    .more-projects:hover {
        color: white;
    }
    #portfolio-dot {
        opacity: 0;
    }
    #contact-dot {
        opacity: 0;
    }
    .contact-button {
        background-color: #0D0D0D;
        border-radius: 5px;
        width: 410px;
        color: white;
        height: 65px;
        margin-bottom: 30px;
        border: 1px solid white;
        box-shadow: 0px 0px 50px rgba(48, 46, 46, 0.2);
        transition: 0.5s;
    }
    .contact-button:hover {
        background-color: white;
        color: #0D0D0D;
    }
    .contact-button:active {
        background-color: white;
        color: #0D0D0D;
    }
    .contact-hyperlink {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-name {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .buttons-block {
        display: flex;
        justify-content: center;
        height: 150px;
    }
    .buttons-block a img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }
    .contact-buttons {
        border-radius: 20px;
        transition: 0.5s;
    }
}
