html {
    scroll-behavior: smooth;
  }
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color:#2E2E2E;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: -999999;
    min-height: 100%;
}
.preload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #0D0D0D;
    transition: opacity 1000ms ease-in-out, visibility 0s 1000ms;
}

.show-preloader {
    visibility: visible;
    opacity: 1;
}
.circle {
    background-color: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-circles 0.7s infinite ease-in-out;
}

.preload .circle:nth-child(1) {
     animation-delay: -0.6s;
}

.preload .circle:nth-child(2) {
     animation-delay: -0.5s;
}

.preload .circle:nth-child(3) {
     animation-delay: -0.4s;
}

.preload .circle:nth-child(4) {
    animation-delay: -0.3s;
}
@keyframes TransitionArrow {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes arrowDown {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes bounce-circles {
    0%, 40%, 100% {
 		transform: translateY(-10px);
    } 20% {
 		transform: translateY(-20px);
    }
}

@keyframes scrollAnim {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (min-width: 320px) {
    #top-button {
        display: none;
        opacity: 0;
        position: relative;
    }
    .scroll-button {
        display: none;
        animation: scrollAnim 1.2s;
    }
    .center-block {
        width: 320px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        margin-bottom: 100px;
        margin-top: 40px;
        width: 92%;
        animation: thirdTransitionIn 1.2s;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links {
        list-style: none;
        visibility: hidden;
    }
    header nav ul {
        padding: 0;
        margin-top: 20px;
        display: flex;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links li {
        font-size: 14px;
    }
    .nav-links li a {
        color: #5C5C5C;
        text-decoration: none;
        font-weight: 500;
        margin-left: 8px;
        transition: 0.5s;
    }
    .nav-links li a:active {
        color: white;
    }
    header a img {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-image {
        margin-bottom: 250px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-img {
        height: 270px;
        animation: secondTransitionIn 1.2s;
    }
    .hero-text {
        font-weight: 700;
        font-size: 29px;
        line-height: 1.3;
        animation: transitionIn 1.2s;
    }
    .under-hero {
        margin-top: 85px;
        font-weight: 400;
        font-size: 16px;
        color: #5C5C5C;
        animation: transitionIn 1.2s;
    }
    .arrow-circle {
        margin-top: 20px;
        margin-bottom: 60px;
        animation: arrowDown 2s infinite, TransitionArrow 1.3s;
        
    }
    #aboutme {
        opacity: 0;
        position: relative;
        bottom: 150px;
    }
    .about-me {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .socials {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
    }
    .box-social {
        text-decoration: none;
    }
    .box {
        width: 100%;
        height: 150px;
        border: 1px solid #2E2E2E;
        border-radius: 5px;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        color: white;
        animation: secondTransitionIn 1.2s;
    }
    .box p {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
    }
    .upper-semibold {
        color: #636363;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        animation: transitionIn 1.2s;
    }
    .upper-semibold-services {
        color: #636363;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .semibold {
        font-size: 22px;
        animation: transitionIn 1.2s;
        font-weight: 600;
    }
    .semibold-services {
        font-weight: 600;
        font-size: 22px;
    }
    #services {
        opacity: 0;
    }
    .services {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .boxes {
        margin-top: 50px;
        overflow: hidden;
    }
    .head-text {
        text-align: center;
    }
    .box-info {
        border-radius: 5px;
        margin-top: 20px;
        width: 294px;
        animation: transitionIn 1.2s;
        height: 270px;
        padding-top: 50px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        border: 1px solid #2E2E2E;
        background-image: url(grafiki/background-modals.svg);
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .text-services {
        margin-top: 20px;
        font-size: 14px;
        color: #D1D1D1;
    }
    .portfolio {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .project {
        margin-top: 50px;
    }
    .project-text {
        font-size: 14px;
        font-weight: 400;
        animation: transitionIn 1.2s;
    }
    .project-arrow {
        margin-top: 50px;
    }
    .project .project-image img {
        width: 294px;
        height: 428px;
        animation: secondTransitionIn 1.2s;
    }
    .project .upper-semibold {
        font-size: 13px;
    }
    .project .href-mobile {
        animation: transitionIn 1.2s;
        margin-top: 30px;
        border-radius: 5px;
        height: 50px;
        display: flex;
        border: 1px solid #2E2E2E;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .project .left-text a {
        font-size: 15px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        transition: 0.5s;
    }
    .project .left-text a:active {
        background-color: white;
        color: #0D0D0D;
    }
    .project .project-arrow {
        display: none;
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .more-projects {
        position: absolute;
        text-decoration: none;
        color: rgb(92, 92, 92);
        right: 92px;
        font-weight: 500;
        top: 1620px;
        font-size: 16px;
        transition: 0.5s;
        animation: secondTransitionIn 1.2s;
    }
    .portfolio .ul .li span a:active {
        color: white;
    }
    #portfolio-dot {
        opacity: 0;
    }
    #contact-dot {
        opacity: 0;
    }
    .contact {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .contact-button {
        margin-top: 50px;
        border-radius: 5px;
        width: 100%;
        animation: secondTransitionIn 1.2s;
        color: white;
        height: 50px;
        border: 1px solid #2E2E2E;
        background-color: transparent;
    }
    .contact-hyperlink {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-name {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .buttons-block {
        display: flex;
        justify-content: center;
        height: 150px;
    }
    .buttons-block a img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }
}
@media (min-width: 768px) {
    .center-block {
        width: 768px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-links {
        list-style: none;
        visibility: visible;
    }
    header nav ul {
        width: 100%;
        margin: 0px;
        padding: 0;
    }
    .nav-links li a {
        font-size: 15px;
        color: #5C5C5C;
        margin-left: 25px;
    }
    header a img {
        width: 150px;
        height: 50px;
        display: block;
        margin-right: 150px;
    }
    .hyperlink {
        color: rgb(92, 92, 92);
        text-decoration: none;
        font-weight: 500;
    }
    .hero-image {
        margin-bottom: 300px;
    }
    .hero-text {
        font-weight: 700;
        font-size: 35px;
        line-height: 1.5;
    }
    .under-hero {
        margin-top: 85px;
        font-weight: 400;
        font-size: 17px;
    }
    .arrow-circle {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .right {
        animation: rightAnim 5s infinite;
    }
    #aboutme {
        opacity: 0;
    }
    .about-me {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
    .box-social {
        text-decoration: none;
    }
    .box {
        width: 230px;
        height: 150px;
        border: 1px solid #2E2E2E;
        border-radius: 5px;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        color: white;
    }
    .box p {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
    }
    .upper-semibold {
        color: #636363;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .upper-semibold-services {
        color: #636363;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .semibold {
        font-size: 24px;
        font-weight: 600;
    }
    .semibold-services {
        font-weight: 600;
        font-size: 24px;
    }
    #services {
        opacity: 0;
    }
    .services {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .boxes {
        margin-top: 50px;
        overflow: hidden;
        display: flex;
        animation: transitionIn 1.2s;
        justify-content: space-between;
    }
    .box-info {
        border-radius: 5px;
        margin-top: 20px;
        width: 230px;
        height: 250px;
        padding-top: 40px;
        position: relative;
        background-image: url(grafiki/background-modals.svg);
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .text-services {
        margin-top: 20px;
        font-size: 12px;
        color: #D1D1D1;
    }
    .portfolio {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .project {
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .project-text {
        font-size: 17px;
        font-weight: 400;
        
    }
    .project-arrow {
        margin-top: 50px;
    }
    .project .project-image img {
        width: 294px;
        height: 450px;
    }
    .left-text {
        margin-right: auto;
    }
    .project .upper-semibold {
        font-size: 13px;
    }
    
    .project .project-arrow {
        display:block;
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .project .href-mobile {
        margin-top: 60px;
        border-radius: 5px;
        height: 50px;
        width: 300px;
        display: flex;
        border: 1px solid #2E2E2E;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .project .href-mobile a {
        font-size: 15px;
        text-decoration: none;
        color: #ffffff;
    }
    .more-projects {
        position: absolute;
        text-decoration: none;
        color: rgb(92, 92, 92);
        right: 0px;
        font-weight: 500;
        top: 0px;
        font-size: 16px;
    }
    #portfolio-dot {
        opacity: 0;
    }
    #contact-dot {
        opacity: 0;
    }
    .contact {
        text-align: center;
    }
    .contact-button {
        border-radius: 5px;
        width: 320px;
        margin-bottom: 20px;
        color: white;
        height: 50px;
        border: 1px solid #2E2E2E;
        transition: 0.5s;
    }
    .contact-hyperlink {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-name {
        font-weight: 600;
        animation: scrollAnim 1s;
        font-size: 15px;
        text-align: center;
    }
    .buttons-block {
        display: flex;
        justify-content: center;
        height: 150px;
        animation: scrollAnim 1s;
    }
    .buttons-block a img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }
}
@media (min-width: 1200px) {
    #top-button {
        display: block;
        opacity: 0;
        position: relative;
    }
    .scroll-button {
        display: block;
        position: fixed;
        bottom: 40px;
        border-radius: 100%;
        z-index: 999999;
        right: 40px;
        transition: 0.5s;
    }
    .scroll-button:hover {
        box-shadow: 0px 0px 30px 1px #2E2E2E;
        transform: scale(1.03);
    } 
    .center-block {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        list-style: none;
    }
    header nav ul {
        width: 100%;
        margin: 0px;
        padding: 0;
    }
    .nav-links li a {
        font-size: 16px;
        margin-left: 25px;
        color: #5C5C5C;
    }
    .nav-links li a:hover {
        color: white;
    }
    header a img {
        width: 150px;
        height: 50px;
        display: block;
        margin-right: 510px;
    }
    .hyperlink {
        color: rgb(92, 92, 92);
        text-decoration: none;
        font-weight: 500;
    }
    .hero-image {
        margin-bottom: 300px;
    }
    .hero-img {
        height: 500px;
        position: relative;
        bottom: 100px;
        animation: secondTransitionIn 1.2s;
        transition: 1s;
    }
    .hero-img:hover {
        transform: scale(1.03);
    }
    .hero-text {
        font-weight: 700;
        font-size: 45px;
        line-height: 1.5;
    }
    .under-hero {
        margin-top: 85px;
        font-weight: 400;
        font-size: 17px;
    }
    .see-more-web {
        font-size: 18px;
    }
    .arrow-circle {
        margin-top: 30px;
    }
    #aboutme {
        opacity: 0;
        position: relative;
        bottom: 230px;
    }
    .about-me {
        margin-bottom: 350px;
    }
    .socials {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    .box-social {
        text-decoration: none;
    }
    .box {
        width: 360px;
        height: 150px;
        border: 1px solid #2E2E2E;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        color: white;
    }
    .box p {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
    }
    .box:hover {
        background-color: white;  
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
    }
    .dribble:hover {
        background: #EA4C89;
        box-shadow: 0px 0px 30px #EA4C89;
    }
    .linkedin:hover {
        background: #0E76A8;
        box-shadow: 0px 0px 30px #0E76A8;
    }
    .behance:hover {
        background: #053EFF;
        box-shadow: 0px 0px 30px #053EFF;
    }
    .dribble-hov:hover {
        color: #EA4C89;
    }
    .linkedin-hov:hover {
        color: #0E76A8;
    }
    .behance-hov:hover {
        color: #053EFF;
    }
    .image img {
        width: 380px;
        height: 374px;
        transition: all .5s ease;
    }
    .image img:hover {
        transform: scale(1.03);
    }
    .upper-semibold {
        color: #636363;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .upper-semibold-services {
        color: #636363;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .semibold {
        font-size: 30px;
        font-weight: 600;
    }
    .semibold-services {
        font-weight: 600;
        font-size: 30px;
    }
    #services {
        opacity: 0;
        position: relative;
        margin-bottom: 120px;
    }
    .services {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .boxes {
        margin-top: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .box-info {
        background-image: none;
        border-radius: 5px;
        margin-top: 20px;
        width: 360px;
        animation: transitionIn 1.2s;
        height: 360px;
        padding-top: 80px;
        position: relative;
        opacity: 1;
        border: 1px solid #2E2E2E;
        background-position: center;
        transition: 1s;
    }
    .box-info:hover {
        opacity: 1;
        border: 1px solid white;
        background-image: url(grafiki/background-modals.svg);
    }
    .top-project, .bottom-project {
        opacity: 0.3;
        transition: 1s;
    }
    .top-project:hover {
        opacity: 1;
    }
    .bottom-project:hover {
        opacity: 1;
    }
    .text-services {
        margin-top: 30px;
        font-size: 17px;
    }
    .portfolio {
        margin-bottom: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    .project {
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .project-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
    }
    .project-arrow {
        margin-top: 50px;
    }
    .project .project-image img {
        width: 320px;
        height: 480px;
        transition: all .5s ease;
    }
    .project .project-image img:hover {
        transform: scale(1.03);
    }
    .left-text {
        margin-right: auto;
    }
    .project .upper-semibold {
        font-size: 16px;
    }
    
    .project .project-arrow {
        display:block;
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .project .href-mobile {
        margin-top: 70px;
        border-radius: 5px;
        height: 60px;
        width: 320px;
        display: flex;
        border: 1px solid #2E2E2E;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .project .href-mobile:hover {
        background-color: white;
        color: #0D0D0D;
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
    }
    .more-projects {
        position: absolute;
        text-decoration: none;
        color: rgb(92, 92, 92);
        right: 0px;
        font-weight: 500;
        top: 0px;
        font-size: 16px;
    }
    .more-projects:hover {
        color: white;
    }
    #portfolio-dot {
        opacity: 0;
    }
    #contact-dot {
        opacity: 0;
    }
    .contact-button {
        border-radius: 5px;
        width: 410px;
        color: white;
        height: 65px;
        margin-bottom: 30px;
        border: 1px solid #2E2E2E;
        transition: 0.5s;
    }
    .contact-button:hover {
        background-color: white;
        color: #0D0D0D;
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
    }
    .contact-hyperlink {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-name {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .buttons-block {
        display: flex;
        justify-content: center;
        height: 150px;
    }
    .buttons-block a img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }
    .contact-buttons {
        border-radius: 20px;
        transition: 0.5s;
    }
}
